#container{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 94vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 15%;
    margin-right: 15%;
}
nav, main{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}
nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.option{
    width: 38%;
    height: calc(76%/3);
    box-sizing: border-box;
    border: 1px solid red;
    margin: calc(15vh/4) 6%;
    border-radius: 15%;
}